<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container1">
        <h1 style="color:black;"><b>Create a Contact</b></h1>
        <form action="{% url 'addContact'%}" method="post">
            {%csrf_token%}
            {{ form.non_field_errors }}
            <br><br>
    <div>
        {{ form.fullname.label_tag }} {{ form.fullname }}
        {% if form.fullname.errors %}
            {% for error in form.fullname.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
          <br><br>
            <div>
                {{ form.emailId.label_tag }} {{ form.emailId }}
                {% if form.emailId.errors %}
                    {% for error in form.emailId.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <br><br>
            <label for="">Notes:</label><br><br>
            <textarea class="form-control" name="notes" rows="4"></textarea><br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'index' %}"><button type="button" class="btn btn-danger">Cancel</button></a>
        </form>
        <footer class="pt-4">
            <hr />
            <p class="text-center" style="color:Green;" >&copy;&nbsp;Created By Vedant Telrandhe</p>
        </footer>
    </div>

</body>

</html>