<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<h1 style="color:Blue;text-align: center;">Confirm Delete</h1>

<h5>Are you sure you want to delete {{ contact.fullname }}?</h5>
    
<form method="post">
    {% csrf_token %}
    <button type="submit"  class="btn btn-danger">Delete</button>
    <a href="{% url 'index' %}"><button type="button" style="background-color: blue" class="btn btn-danger">Cancel</button>
</form>

<br><br>
<footer class="pt-4">
    <hr />
    <p class="text-center" style="color:Green;" >&copy;&nbsp;Created By Vedant Telrandhe</p>
</footer>
